.pins {
  margin: 0 auto;
  .box img {
    width: 100%;
  }
  .panel-body {
    padding-left: 2px;
    padding-top: 5px;
  }
}

.pins_index {
  .box {
    margin: 5px;
    width: 270px;
  }
}

.pins_show {
  .box {
    margin: 5px;
    width: 960px;
    font-size: 14px;
  }
}

