.pins {
  margin: 0 auto;
  .box img {
    width: 100%;
  }
  .caption {
    font-weight: 500;
  }
  .panel-body {
    padding-left: 2px;
    padding-top: 5px;
  }
}

.pins_index {
  .box {
    margin: 5px;
    width: 270px;
    font-size: 12px;
    .recent-comments {
      font-weight: 400;
      text-decoration: underline;
    }
  }
}

.pins_show, .pins_new, .pins_edit, .comments_new, .comments_edit {
  .box {
    margin: 5px;
    width: 960px;
    font-size: 14px;
  }
}

.comments_new, .comments_edit {
  .box img {
    width: 25%;
    display: inline-block;
  }
}
